<template>
  <a-form
    :model="formState"
    name="basic"
    :label-col="{ span: 24 }"
    :wrapper-col="{ span: 24 }"
    autocomplete="off"
  >
    <a-form-item
      label="Title"
      name="title"
    >
      <a-textarea
      v-model:value="formState.title"
      auto-size
    />
    </a-form-item>

    <a-form-item
      label="Subtitle"
      name="subtitle"
    >
    <a-textarea
      v-model:value="formState.body"
      auto-size
    />
    </a-form-item>

    <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
      <a-button type="primary" @click="onFinish" >Submit</a-button>
    </a-form-item>
  </a-form>
</template>

<script setup>

// EMIT AND PROPS
const props =defineProps({
    editItem: Object
});
const emit =defineEmits(["editing"]);

// STATE
const formState = ref({
    ...props.editItem
})

// METHODS
const onFinish = () => {
  emit('editing', formState)
};

</script>
