<template>
  <div>
    <a-row
      :gutter="[
        { xs: 8, sm: 16, md: 24, lg: 32 },
        { xs: 8, sm: 16, md: 24, lg: 32 },
      ]"
    >
      <a-col :xs="24" :sm="12" :md="8" :lg="6" :xl="6">
        <a-card
          hoverable
          class="custom"
          title="Create post"
          @click="showModal.create = true"
        >
          <AppstoreAddOutlined :style="{ fontSize: '50px' }" />
        </a-card>
      </a-col>
      <a-col
        :xs="24"
        :sm="12"
        :md="8"
        :lg="6"
        :xl="6"
        v-for="(item, index) in commonStore.data"
        :key="index"
      >
        <a-card hoverable>
          <template #actions>
            <EditOutlined @click="openModal(index)" />

            <a-popconfirm
              title="Are you sure delete this post?"
              ok-text="Yes"
              cancel-text="No"
              @confirm="confirm(index, item.id)"
            >
              <DeleteOutlined />
            </a-popconfirm>
          </template>
          <a-card-meta :title="item.title" :description="item.body"> </a-card-meta>
        </a-card>
      </a-col>
    </a-row>
    <a-modal v-model:open="showModal.edit" title="Edit" :footer="null">
      <Modal :editItem="editItem" v-if="showModal.edit" @editing="saveItem" />
    </a-modal>
    <a-modal v-model:open="showModal.create" title="Edit" :footer="null">
      <Create v-if="showModal.create" @creating="createPost" />
    </a-modal>
  </div>
</template>

<script setup>
// IMPORT
import { useCommonStore } from "~/store/common.store";

// STORE
const commonStore = useCommonStore("");

// STATE
const activeIndex = ref(null);
let editItem = reactive({});
const showModal = reactive({
  edit: false,
  create: false,
});

// METHODS
const openModal = (idx) => {
  activeIndex.value = idx;
  editItem = commonStore.data[idx];
  showModal.edit = true;
};

const createPost = async(form) => {
 const res=  await commonStore.postDetail(form)
  commonStore.data.unshift(res);
  showModal.create = false;
};

const saveItem = async (form) => {
 const res= await commonStore.updateData(form);
  commonStore.data[activeIndex.value] = res;
  showModal.edit = false;
};

const confirm =async (index, id) => {
 await commonStore.postDelete(id)
  commonStore.data.splice(index, 1);
  message.success("This post success deleted");
};
// HOOKS
onMounted(() => {
  commonStore.fetchData();
});
</script>

<style lang="scss">
.ant {
  &-card {
    height: 100%;
    display: flex;
    flex-direction: column;

    &-actions {
      margin-top: auto !important;
    }
    &-meta-title {
      white-space: unset !important;
    }
    &.custom {
      .ant-card-body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    }
  }
}
</style>
