<template>
  <div>
    <div class="title">
      <h2>Login</h2>
    </div>
    <div class="container form">
      <label for="uname"><b>Username</b></label>
      <input
        v-model="user.username"
        type="text"
        class="input"
        placeholder="Enter Username"
        name="uname"
        required
      />

      <label for="psw"><b>Password</b></label>
      <input
        v-model="user.password"
        :type="showPass? 'text': 'password'"
        class="input"
        placeholder="Enter Password"
        name="psw"
        required
      />
      <a-checkbox v-model:checked="showPass">show password</a-checkbox>
      <button @click.prevent="login" class="button">Login</button>
    </div>
  </div>
</template>
<script lang="ts" setup>
// IMPORT
import { storeToRefs } from "pinia";
import { useAuthStore } from "~/store/auth";

// STORE
const { authenticateUser } = useAuthStore(); 

// STATE
const { authenticated } = storeToRefs(useAuthStore());
const showPass =ref(false)
const user = ref({
  username: "kminchelle",
  password: "0lelplR",
});
const router = useRouter();

// METHODS
const login = async () => {
  await authenticateUser(user.value);
  if (authenticated) {
    router.push("/");
  }
};
</script>
<style lang="scss">
.title {
  display: flex;
  justify-content: center;
}
.container {
  padding: 16px;
}
.form {
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  .input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .button {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  }

  .button:hover {
    opacity: 0.8;
  }
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }
  button{
    display: block;
    margin-top: 24px;
  }
}
</style>
